.navbar {
    overflow: hidden;
    background-color: #51b4f5;
    position: relative;
    z-index: 2;
    top: 0;
    width: 100%;
    padding: 0;
  }

.navbar a {
    float: left;
    display: block;
    color: #0f0202;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .navbar a:hover {
    background: #e5f71e;
    color: rgb(67, 17, 219);
  }

  .main {
    margin-top: 30px; 
  }